@font-face {
    font-family: "Varela Round";
    src: URL("res/font/VarelaRound-Regular.ttf") format('ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(230, 230, 230);
}

.centerHorizontally {
    text-align: center;
}

.centerVertically {
    position: absolute;
    top: 50%;
    left: 50%;
}

.circle {
    border-radius: 50%;
}

#links i {
    letter-spacing: .25em;
}

i {
    color: rgba(0, 0, 0, 0.5);
}

i:hover {
    color: #4f4f4f;
}