#profilePicture {
    box-shadow: 0px 0px 25px grey;
    margin-bottom: 20px;
}

#profilePictureFader {
    position: absolute;
    opacity: 0;
}

#name {
    font-family: "Varela Round", sans-serif;
    font-size: 25px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: .14em;
    font-weight: 400;
    font-style: normal;
    color: #4f4f4f;
    text-rendering: optimizeLegibility;
    margin-bottom: 10px;
}

#roles {
    font-family: "Varela Round", sans-serif;
    font-size: 20px;
    line-height: 1.6em;
    text-transform: none;
    letter-spacing: 0em;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.6);
    text-rendering: optimizeLegibility;
    margin-bottom: 10px;
}