@font-face {
    font-family: ShadowsIntoLight;
    src: url(../res/fonts/ShadowsIntoLight.ttf);
}

@font-face {
    font-family: PermanentMarker;
    src: url(../res/fonts/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: Cardo;
    src: url(../res/fonts/Cardo-Regular.ttf);
}

a {
    text-decoration: none;
    color: #111;
}

a:visited {
    text-decoration: none;
    color: #111;
}

a:hover {
    text-decoration: none;
    color: #111;
}

a:focus {
    text-decoration: none;
    color: #111;
}
a:hover, a:active {
    text-decoration: none;
    color: #111;
}

body {
    background-color: #f8f8f8;
    text-align: center;
    font-family: helvetica;
    color: #111;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "now";
}

#header {
    grid-area: header;

    display: grid;
    margin-top: 3%;
}

#name {
    grid-area: name;

    font-family: ShadowsIntoLight;
    letter-spacing: .4em;
    text-transform: uppercase;
}

#options {
    font-family: PermanentMarker;
}

#options > a {
    margin-right: 20px;

    -webkit-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    transition: opacity 0.1s;
}

#optionPortfolio {
    opacity: 0.5;
}

#optionResume {
    opacity: 0.5;
}

#optionAbout {
    opacity: 0.5;
}

#options > a:hover {
    opacity: 1.0;
}

#now {
    font-family: Cardo;
}

#title {
    font-size: 50px;

    padding: 0px;
    margin-top: 3%;
    margin-bottom: 0px;
}

#lastUpdated {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 15px;
}

#lastUpdated span {
    text-decoration: italic;
}

#desc {
    font-size: 15px;

    margin: 0px;
}

#now a {
    border-bottom: 1px solid #000;
}

#now a:hover {
    border-bottom: none;
}

/* mobile */
@media (max-width: 900px) {
    #header {
        grid-template-columns: 1fr;
        grid-template-areas:
            "name"
            "options";
    }

    #name {
        font-size: 25px;
    }

    #options {
        margin-bottom: 2%;
    }

    #desc {
        margin-bottom: 15%;
    }

    #now > div {
        margin-bottom: 8%;
    }
}

/* desktop */
@media (min-width: 900px) {
    #header {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "options name ...";
    }

    #name {
        font-size: 30px;
    }

    #desc {
        margin-bottom: 4%;
    }

    #now > div {
        margin-bottom: 2%;
    }
}
